*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    /* width: 60%; */
}
.card-container 
{
    width: 250px;
    overflow: hidden;
    border: 1px solid #000;
    border-radius: 10px;
    transition: 0.5s;
}
.card-container:hover 
{
    transform: scale(1.1);
}
.card-content 
{
    padding: 10px;
}
.image-container 
{
    overflow: hidden;
    height: 200px;
}
.image-container img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
  
.card-title 
{
    display: flex;
    justify-content: center;
    color: rgb(97, 97, 234);
    margin-bottom: 5px;
}
.card-body 
{
    color: cadetblue;
}
.btn 
{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
button 
{
    background-color: #000;
    border: none;
    border-radius: 5px;
    padding: 10px;
    color: aliceblue;
}